.MuiDialog-paper { /*mtf is the cause of every single error, how to pull the root aaaaaa*/
    opacity: 1;    /*this is here just for checking*/
}


.details-modal {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: auto;
}



.details-modal .MuiDialog-paper{
    color: rgb(221, 221, 221);
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

.details-modal-tabs {
    margin-block-start: 1vw;
    margin-block-end: 1.5vw;
    align-self: center;
    max-width: auto;
}

.pokesprite {
    background-color: rgba(235, 232, 232, 0.18);
    border-radius: 16px;
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}


.pokesprite img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22vw;
    height: auto ;

}

.pokesprite img:hover {
    animation: tilt-n-move-shaking 0.5s infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(2deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

.flavor-text {
    cursor:default;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
}

.skill-bar {
    width: 100%;
    margin-bottom: 0.4vw;
  }
  
  .skill-bar-label {
    margin-bottom: 0.2vw;
  }
  
  .skill-bar-value {
    height: 0.5vw;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .skill-bar-progress {
    height: 100%;
    background-color: #00bcd4;
  }

  .detail-label {
    font-family: monospace;
    cursor: default;
  }
