#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  margin-right: 1000px;
  height: 100px;
  padding: 1.5px;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}


h1 {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.run {
  height: 70px;
  margin-top: -50px;
}